.register-form,
.error {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 500px;
  background-color: var(--secondary-color);
  padding: 15px;
  align-self: center;
  border-radius: 5px 10px;
  box-shadow: 1px 1px 10px -3px;
}

.register-form > input {
  padding-left: 10px;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 5px 10px;
  font-size: 1.1em;
}

.register-form > button {
  margin: 0 auto;
  height: 40px;
  width: 70%;
  max-width: 300px;
}

.error {
  border: 1px solid red;
  color: red;
  margin-bottom: 10px;
  background-color: var(--error-color);
}