.header-container {
  width: 100%;
  height: var(--header-height);
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background-color: var(--primary-color);
  align-items: center;
  z-index: 10;
}

.nav-item {
  margin-right: 30px;
  color: var(--primary-text-color);
}

.active {
  color: var(--primary-text-color-active)
}

.nav-item:hover {
  background-color: var(--secondary-color);
}

.logo {
  position: absolute;
  left: 5px;
  height: calc(var(--header-height) - 10px)
}